{# templates/tasklist/list.html.twig #}

<h1>Task Liste</h1>

<ul>
    {% for tasks in tasklists %}
        <li>{{ tasks.title }}</li>
    {% endfor %}
</ul>

<a href="{{ path('task_create') }}" class="btn btn-success">Create Task</a>